{% extends 'base.html.twig' %}

{% block title %}New Partner Request{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-1">
            <a href="{{ path('partner_request_index') }}"><i class="fas fa-chevron-left fa-2x"></i></a>
        </div>
        <div class="col-11">
            <h1>Create new Partner Request</h1>
        </div>
    </div>

    {{ include('partner_request/_form.html.twig') }}
{% endblock %}