{% extends 'base.html.twig' %}

{% block title %}New PartnerRequest{% endblock %}

{% block body %}
    <h1>Create new PartnerRequest</h1>

    {{ include('partner_request/_form.html.twig') }}

    <a href="{{ path('partner_request_index') }}">back to list</a>
{% endblock %}